.message{
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
}

.message_info{
    padding-left: 20px;
}

.timestamp{
    color: gray;
    padding-left: 20px;
    font-size: x-small;
}